.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.profit {
  display: flex;
  justify-content: center;
}
.disc-result {
  margin-top: 150px
}